# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyc
build/
dist/
wheels/
*.egg-info/

# ==========================
# Virtual environments
# ==========================
.venv/

# ==========================
# Environment variables
# ==========================
.env
.env.*

# ==========================
# Downloaded datasets
# ==========================
data/raw/*
data/processed/*

# Keep directory structure
!data/raw/.gitkeep
!data/processed/.gitkeep

# ==========================
# Local databases
# ==========================
*.duckdb
*.db

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/

# ==========================
# macOS
# ==========================
.DS_Store

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Logs
# ==========================
*.log